{% extends 'main/base.html' %}
{% block title %}联系{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">联系我</h1>
    <p>如果您对我的工作感兴趣或有任何问题，请随时通过以下方式与我联系：</p>
    <ul>
        <li>电话：18569246651</li>
        <li>邮箱：li.09@qq.com</li>
    </ul>
    <h3>社交媒体</h3>
    <div class="d-flex gap-3">
        <a href="#" class="text-decoration-none"><i class="bi bi-twitter"></i> Twitter</a>
        <a href="#" class="text-decoration-none"><i class="bi bi-github"></i> GitHub</a>
        <a href="#" class="text-decoration-none"><i class="bi bi-linkedin"></i> LinkedIn</a>
    </div>
</div>
{% endblock %} 