{% extends 'main/base.html' %}
{% block title %}技能和证书{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">技能和证书</h1>
    <h3>技能</h3>
    <ul>
        <li>熟练掌握MySQL，擅长进行增删改查操作。</li>
        <li>熟练使用Postman、Jmeter进行接口测试。</li>
        <li>掌握Python，擅长自动化测试脚本开发。</li>
        <li>熟练使用Selenium+unittest进行web和UI自动化测试。</li>
        <li>精通Charles抓包工具，擅长定位复杂BUG。</li>
    </ul>
    <h3>证书</h3>
    <ul>
        <li>计算机二级</li>
        <li>驾驶证</li>
    </ul>
</div>
{% endblock %} 